<html lang="NL-be">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="/css/stylesheet.css">
        <script src="https://kit.fontawesome.com/7450ea0e8a.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
<body>
<header class="navbar">
    <h1 class="title"><i class="fa-solid fa-cubes"></i> Artspire</h1>
    <nav>
        <ul id="desktop">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/catalog">Catalog</a></li>
                <li><a href="/contact">Contact</a></li>
            <li><button class="button">Cart</button></li>
            <li><button class="button">Sign In</button></li>
        </ul>
        <ul id="mobile">
            <li><a href="#" id="open-sidebar"><i class="fa-solid fa-bars"></i></a></li>
        </ul>
    </nav>
    <div class="sidebar">
        <h1 class="title"><i class="fa-solid fa-cubes"></i> Artspire</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/catalog">Catalog</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><button class="sidebar-button" id="open-cart-sidebar">Cart</button></li>
                <li><button class="sidebar-button">Sign In</button></li>
                <li><a href="#" id="close-sidebar">Close</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <section class="cart">
        <button id="close-cart"><i class="fa-solid fa-x"></i></button>
        <article id="cart-list">

        </article>
        <article id="subtotal">
            <div class="overzicht">
                <h4>Subtotaal</h4>
                <p id="netto-waarde">0</p>
            </div>
            <div class="overzicht">
                <h4>BTW%</h4>
                <p id="btw-waarde">0</p>
            </div>
            <div class="overzicht">
                <h4>Totaal</h4>
                <p id="grand-total">0</p>
            </div>
        </article>
    </section>
    <section class="about-intro">
        <article>
            <h4>Inspireer</h4>
            <h2>Kunst Dat Praat</h2>
            <p id="intro-subtext">Ontdek een samengestelde verzameling kunstwerken die passie aanwakkeren en uw ruimte naar een hoger niveau tillen.</p>
        </article>
        <article>
            <img src="assets/rihanna.png" alt="img">
        </article>
    </section>
    <section>
        <article id="about-container1">
            <h1>
                Ontmoet de Visionaire Kunstenaars
            </h1>
            <p>
                Welkom bij Artstpire, waar creativiteit en passie samenkomen. Onze galerie is toegewijd aan het tonen van werken van een zorgvuldig geselecteerde groep getalenteerde kunstenaars, elk met een unieke kijk op moderne en hedendaagse kunst. Wij geloven in de kracht van kunst om te inspireren, uit te dagen en mensen over culturen en generaties heen te verbinden.
            </p>
            <p>
                Onze missie is om een platform te bieden voor zowel opkomende als gevestigde kunstenaars, zodat zij hun visie met de wereld kunnen delen. Iedere kunstenaar die wij vertegenwoordigen is gekozen op basis van hun innovatieve benadering, technische beheersing en het vermogen om emoties op een diepgaande manier over te brengen.
            </p>
        </article>
    </section>
    <section>
        <article id="artist-container">
            <figure class="artist-items">
            <img src="assets/Laura.jpeg" alt="Laura">
            <figcaption>Laura H. Rubin</figcaption>
            </figure>
            <div class="artist-items">
                <h1>Laura H. Rubin</h1>
                <h3>Een Meester in Digitale Kunst en Visuele Verhalen</h3>
                <p>Laura H. Rubin is een internationaal erkende digitale kunstenaar en illustrator, bekend om haar unieke stijl die donkere, emotionele thema's combineert met een dromerige esthetiek. Haar werk balanceert op de grens tussen surrealisme en realisme, waarbij ze een wereld oproept vol mysterie en intrige.</p>
                <p>Naast haar artistieke werk is Laura H. Rubin ook een mentor voor opkomende kunstenaars. Ze deelt haar kennis en ervaringen via tutorials, sociale media en workshops, en inspireert duizenden volgers wereldwijd om hun eigen creatieve pad te vinden. Haar werk heeft erkenning gekregen in kunsttijdschriften en exposities, en ze heeft samengewerkt met gerenommeerde merken en artiesten.</p>
            </div>
        </article>
        <article>
        </article>
        <article></article>
    </section>
</main>
<footer>
    <section class="footer-container">
        <article>
            <h1><i class="fa-solid fa-cubes"></i> Artspire</h1>
        </article>
        <article>
            <h3>Snelle Links</h3>
            <ul>
                <li>Gallerij</li>
                <li>Nieuwkomers </li>
                <li>Best Verkocht</li>
                <li>Tentoonstellingen</li>
                <li>Contacteer Ons</li>
            </ul>
        </article>
        <article>
            <h3>Customer Care</h3>
            <ul>
                <li>FAQs</li>
                <li>Shipping Info</li>
                <li>Retour Beleid</li>
                <li>Gift Cards</li>
                <li>Beoordelingen</li>
            </ul>
        </article>
        <article>
            <h3>Blijf In Contact</h3>
            <ul>
                <li>Social Media</li>
                <li>Email Updates</li>
                <li>Events Kalender</li>
                <li>Doe mee</li>
                <li>Wordt Geïnspireerd</li>
            </ul>
        </article>
        <article>
            <h3>Abonneer</h3>
            <p>Schrijf je in op onze newsletter voor exclusieve aanbiedingen</p>
            <form action="submit">
                <input type="email"> 
                <button>Join</button>
            </form>
            <p>Door u te abonneren, gaat u akkoord met ons privacybeleid en gaat u akkoord met het ontvangen van updates.</p>
        </article>
    </section>
</footer>
</body>
</html>