<!DOCTYPE html>
<html lang="NL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="https://kit.fontawesome.com/7450ea0e8a.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="/js/script.js" defer></script>
</head>
<body>
<header class="navbar">
    <h1 class="title"><i class="fa-solid fa-cubes"></i> Artspire</h1>
    <nav>
        <ul id="desktop">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/catalog">Catalog</a></li>
                <li><a href="/contact">Contact</a></li>
            <li><button class="button">Cart</button></li>
            <li><button class="button">Sign In</button></li>
        </ul>
        <ul id="mobile">
            <li><a href="#" id="open-sidebar"><i class="fa-solid fa-bars"></i></a></li>
        </ul>
    </nav>
    <div class="sidebar">
        <h1 class="title"><i class="fa-solid fa-cubes"></i> Artspire</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="catalog.html">Catalog</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><button class="sidebar-button">Cart</button></li>
                <li><button class="sidebar-button">Sign In</button></li>
                <li><a href="#" id="close-sidebar">Close</a></li>
            </ul>
        </nav>
    </div>
</header>
    <main>
        <section class="cart">
            <button id="close-cart"><i class="fa-solid fa-x"></i></button>
            <article id="cart-list">

            </article>
            <article id="subtotal">
                <div class="overzicht">
                    <h4>Subtotaal</h4>
                    <p id="netto-waarde">0</p>
                </div>
                <div class="overzicht">
                    <h4>BTW%</h4>
                    <p id="btw-waarde">0</p>
                </div>
                <div class="overzicht">
                    <h4>Totaal</h4>
                    <p id="grand-total">0</p>
                </div>
            </article>
        </section>
        <section>
            <img src="/assets/banner.png" alt="banner">
        </section>
        <section class="product-page">
            <article class="product-image">
                <img src="/assets/IMG_4972.png" alt="azula">
            </article>
            <article class="product-info">
                <h1>Azula</h1>
                <h4>30$ | <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></h4>
                <p>Azula is een complexe en krachtige personage uit Avatar: De Legende van Aang, bekend om haar ongelooflijke vuurmagie en scherpe intellect. Als de geniale prinses van de Vuurnatie beheerst Azula niet alleen traditionele vuurmagie, maar ook de zeldzame vaardigheid om blauwe vlammen en bliksem te creëren en te manipuleren. <br>
                    Gedreven door ambitie en een streven naar perfectie, is Azula zowel een formidabele tegenstander als een diep gelaagd personage. Haar strijd met vertrouwen, eenzaamheid en innerlijke onzekerheden geeft haar rol in de serie extra diepgang. Dankzij haar strategische inzicht en indrukwekkende aanwezigheid is Azula een van de meest memorabele personages in het Avatar-universum.</p>
                <div class="actions">
                    <button class="add-to-cart">Toevoegen aan winkelwagen</button>
                    <button class="buy-now">Koop nu</button>
                </div>
                <div>
                    <form action="#" method="post" class="comment-form">
                        <textarea name="comment" placeholder="Schrijf een beoordeling" rows="5" required></textarea>
                        <button type="submit" class="submit-comment">Stuur</button>
                    </form>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section class="footer-container">
            <article>
                <h1><i class="fa-solid fa-cubes"></i> Artspire</h1>
            </article>
            <article>
                <h3>Snelle Links</h3>
                <ul>
                    <li>Gallerij</li>
                    <li>Nieuwkomers </li>
                    <li>Best Verkocht</li>
                    <li>Tentoonstellingen</li>
                    <li>Contacteer Ons</li>
                </ul>
            </article>
            <article>
                <h3>Customer Care</h3>
                <ul>
                    <li>FAQs</li>
                    <li>Shipping Info</li>
                    <li>Retour Beleid</li>
                    <li>Gift Cards</li>
                    <li>Beoordelingen</li>
                </ul>
            </article>
            <article>
                <h3>Blijf In Contact</h3>
                <ul>
                    <li>Social Media</li>
                    <li>Email Updates</li>
                    <li>Events Kalender</li>
                    <li>Doe mee</li>
                    <li>Wordt Geïnspireerd</li>
                </ul>
            </article>
            <article>
                <h3>Abonneer</h3>
                <p>Schrijf je in op onze newsletter voor exclusieve aanbiedingen</p>
                <form action="submit">
                    <input type="email"> 
                    <button>Join</button>
                </form>
                <p>Door u te abonneren, gaat u akkoord met ons privacybeleid en gaat u akkoord met het ontvangen van updates.</p>
            </article>
        </section>
    </footer>
</body>
</html>