<!DOCTYPE html>
<html lang="NL">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Index</title>
<link rel="stylesheet" href="/css/stylesheet.css">
<script src="https://kit.fontawesome.com/7450ea0e8a.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<script src="/js/script.js" defer></script>
</head>
<body>
<header class="navbar">
    <h1 class="title"><i class="fa-solid fa-cubes"></i> Artspire</h1>
    <nav>
        <ul id="desktop">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="catalog.html">Catalog</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><button class="button">Cart</button></li>
            <li><button class="button">Sign In</button></li>
        </ul>
        <ul id="mobile">
            <li><a href="#" id="open-sidebar"><i class="fa-solid fa-bars"></i></a></li>
        </ul>
    </nav>
    <div class="sidebar">
        <h1 class="title"><i class="fa-solid fa-cubes"></i> Artspire</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="catalog.html">Catalog</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><button class="sidebar-button" id="open-cart-sidebar">Cart</button></li>
                <li><button class="sidebar-button">Sign In</button></li>
                <li><a href="#" id="close-sidebar">Close</a></li>
            </ul>
        </nav>
    </div>
</header>
    <main>
        <section class="cart">
            <button id="close-cart"><i class="fa-solid fa-x"></i></button>
            <article id="cart-list">

            </article>
            <article id="subtotal">
                <div class="overzicht">
                    <h4>Subtotaal</h4>
                    <p id="netto-waarde">0</p>
                </div>
                <div class="overzicht">
                    <h4>BTW%</h4>
                    <p id="btw-waarde">0</p>
                </div>
                <div class="overzicht">
                    <h4>Totaal</h4>
                    <p id="grand-total">0</p>
                </div>
            </article>
        </section>
        <section class="index-container1">
        <article>
            <h1 id="intro-title">Ontdek Kunstwerken <br>
            Dat Jou Inspireert</h1>
            <p id="intro-subtext">
                Ontdek onze samengestelde collectie prachtige kunstwerken die resoneren met je ziel. Vind het perfecte stuk om uw ruimte naar een hoger niveau te tillen en uw individualiteit tot uitdrukking te brengen.
            </p>
            <button class="button">Shop</button>
            <button class="button">Leer Meer</button>
        </article>
        <article>
            <img src="assets/Asset1.png" alt="index">
        </article>
        </section>
        <section class="index-container2">
            <article>
                <h4 id="index-container2-heading">Artistry</h4>
                <h1 id="index-container2-title">
                    Ontdek Unieke Kunstwerken<br>
                    en Getalenteerde Artiesten
                </h1>
            </article>
            <article>
                <p id="index-container2-intro">
                    Ontdek onze galerij met exclusieve collecties die creativiteit en innovatie vieren. Elk stuk is zorgvuldig samengesteld om het beste van de hedendaagse kunst te laten zien. Ontmoet de kunstenaars achter de werken en leer over hun unieke verhalen.
                </p>
            </article>
        </section>
        <section class="index-container3">
            <article>
                <img src="assets/Asset4.png" alt="Asset4">
                <h2 id="index-container3-heading">
                    Exclusieve collecties die u <br>
                    nergens anders zult vinden
                </h2>
                <p id="index-container3-text">
                    Onze exclusieve collecties bieden een zeldzaam kijkje in de wereld van de kunst.
                </p>
            </article>
            <article>
                <img src="assets/Asset2.png" alt="Asset2">
                <h2 id="index-container3-heading">
                    Maak kennis met onze aanbevolen 
                    artiesten
                </h2>
                <p id="index-container3-text">
                    Ontdek de visie en passie van onze getalenteerde kunstenaars.
                </p>
            </article>
            <article>
                <img src="assets/Asset3.png" alt="Asset3">
                <h2 id="index-container3-heading">
                    Limited Edition-stukken voor <br>
                    veeleisende verzamelaars
                </h2>
                <p id="index-container3-text">
                    Bezit een stukje kunstgeschiedenis met onze limited editions.
                </p>
            </article>
        </section>
        <section class="index-container4">
            <article>
                <h1>Showcase</h1>
                <p>Ontdek onze verbazingkwekkende collectie van kunstwerken</p>
            </article>
            <article id="showcase-container">
                <figure>
                <img src="assets/choso.png" alt="Ashe">
                <figcaption>Made by Laura H. Rubin</figcaption>
                </figure>
                <figure>
                <img src="assets/yue.png" alt="BW2B">
                <figcaption>Made by Laura H. Rubin</figcaption>
                </figure>
                <figure>
                <img src="assets/inumaki.png" alt="Far away">
                <figcaption>Made by Laura H. Rubin</figcaption>
                </figure>
                <figure>
                <img src="assets/IMG_4972.png" alt="4378">
                <figcaption>Made by Laura H. Rubin</figcaption>
                </figure>
            </article>
        </section>
        <section class="index-container3">
            <article>
                <h1>
                    Klanten Beoordelingen
                </h1>
                <p>
                    De kunstwerken overtroffen mijn verwachtingen in alle opzichten.
                </p>
            </article>
        </section>
        <section id="testimony-container">
            <article class="testimony-container-content">
                <img src="/assets/Screenshot 2024-10-11 at 17.21.28.png" alt="Testimony1">
                <div>
                    <p><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></p>
                    <h4>Alice Johnson</h4>
                    <p>"The quality is simply outstanding!"</p>
                </div>
            </article>
            <article class="testimony-container-content">
                <img src="/assets/Screenshot 2024-10-11 at 17.21.36.png" alt="Testimony2">
                <div>
                    <p><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
                    <h4>Emily Davis</h4>
                    <p>"A seamless purchasing experience from start to finish!"</p>
                </div>
            </article>
            <article class="testimony-container-content">
                <img src="/assets/Screenshot 2024-10-11 at 17.21.42.png" alt="Testimony3">
                <div><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                <h4>Marc Smith</h4>
                <p>"I can't recommend this enough!"</p>
                </div>
            </article>
        </section>
        <section id="ontdek">
            <button id="button-klanten"><a href="klanten.html"> Ontdek onze klanten</a></button>
        </section>
    </main>
    <footer>
        <section class="footer-container">
            <article>
                <h1><i class="fa-solid fa-cubes"></i> Artspire</h1>
            </article>
            <article>
                <h3>Snelle Links</h3>
                <ul>
                    <li>Gallerij</li>
                    <li>Nieuwkomers </li>
                    <li>Best Verkocht</li>
                    <li>Tentoonstellingen</li>
                    <li>Contacteer Ons</li>
                </ul>
            </article>
            <article>
                <h3>Customer Care</h3>
                <ul>
                    <li>FAQs</li>
                    <li>Shipping Info</li>
                    <li>Retour Beleid</li>
                    <li>Gift Cards</li>
                    <li>Beoordelingen</li>
                </ul>
            </article>
            <article>
                <h3>Blijf In Contact</h3>
                <ul>
                    <li>Social Media</li>
                    <li>Email Updates</li>
                    <li>Events Kalender</li>
                    <li>Doe mee</li>
                    <li>Wordt Geïnspireerd</li>
                </ul>
            </article>
            <article>
                <h3>Abonneer</h3>
                <p>Schrijf je in op onze newsletter voor exclusieve aanbiedingen</p>
                <form action="submit">
                    <input type="email"> 
                    <button>Join</button>
                </form>
                <p>Door u te abonneren, gaat u akkoord met ons privacybeleid en gaat u akkoord met het ontvangen van updates.</p>
            </article>
        </section>
    </footer>
</body>
</html>